@import '../../../../styles/vars.css';

.items-container {
    display: none;
    list-style: none;
    padding-top: 6px;
    padding-left: 12px;
}

@media only screen and (min-width: 1024px) {
  .items-container {
    display: flex;
  }
}