@import '../../../../styles/vars.css';

.menu-container {
    margin-top: 3px;
    display: block;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
  color: var(--white-color);
}

@media only screen and (min-width: 1024px) {
  .menu-container {
    display: none;
  }
}