:root {
    --light-purple: #4C6085;
    --dark-purple: #303141;
    --white-color: #fdfdfd;
    --light-gray: #757580;
    --light-green: #37DA97;
    
    --text-xsm: 1rem;
    --text-sm: 1.2rem;
    --text-md: 1.4rem;
    --text-lg: 1.8rem;
    --text-xl: 3rem;
}