@import '../../../styles/vars.css';

.container, .input {
    width: 100%;
}

.search-icon {
    color: var(--white-color);
    font-size: var(--text-lg);
}

.container {
    border: 1px solid transparent;
    height: 42px;
    padding: 8px 14px;
    max-width: 500px;
    background-color: rgba(75, 77, 99, 0.7);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.container:hover {
    border: 1px solid var(--light-green);
}

.input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: var(--white-color);
}