@import '../../../styles/vars.css';

.navbar {
    height: 65px;
    padding: 0 12px;
    border-bottom: 2px solid var(--light-purple);
    background-color: var(--dark-purple);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.blocks-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

