@import '../../../styles/vars.css';

.navbar, 
.blocks-container, 
.blocks-inner-container-left, 
.blocks-inner-container-right, 
.most-inner-container {
    display: flex;
    align-items: center;
}

.navbar {
    height: 60px;
    padding: 4px 20px 0;
    border-bottom: 2px solid var(--light-purple);
    background-color: var(--dark-purple);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.blocks-container {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between; 
}

.blocks-inner-container-left {
    gap: 20px;
}

.most-inner-container {
    gap: 36px;
    margin-right: 28px;
    padding-top: 6px;
    list-style: none;
}

